.document__header-title {
    padding-bottom: 10px;
    padding-left: 0px;
    border-bottom: 1px solid #ccc;
}

.header-row {
    border-top: solid 1px #000;
    border-bottom: solid 1px #000;
}

.row {
    border-bottom: solid 1px rgb(204, 204, 204);
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.text-bold {
    font-weight: 700;
}
